.ApplicationSelection{
    background-image: url(../assets/add.png);    
}

.Octane{
    background-image: url(../../Example/assets/octaneIcon.png);    
}

.BatManager{
    background-image: url(../../Example/assets/Bat.PNG);
}