.ApplicationSelection {
    background-image: url(../assets/add.png);
    border: none !important;
}

.Octane {
    background-image: url(../../OctaneBurner/assets/octaneIcon.png);
}

.BatManager {
    background-image: url(../../Example/assets/Bat.PNG);
}

.RmDashboard{
    background-image: url(../../RmDashboard/assets/Rm.png);
    background-color: rgba(70,70,70,.8);
}