.AppSelection{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.AppPane{
    flex: 1;
}

.AppSelection .AppPane{
    width: 30%;
}

.ShowOnMouseOver{
    opacity: 0;
}
.ShowOnMouseOver:hover{
    opacity: 1;
}