$maxWindowHeight: 88vh;
$maxWindowWidth: 100%;
$primaryColour: rgb(85, 149, 255);
$secondaryColour: rgb(0, 102, 161);
$tertiaryColour: rgba(255, 255, 255, 0.55);
$textColour: rgb(255, 255, 255);
.application {
    display: inline-flex;
    width: $maxWindowWidth;
}