.applicationWindow {
  padding: 10px 30px 10px 30px;
  background-color: $colorSecondaryColor;
  float: right;
  width: 75%;
  margin-right: 0;
  height: 87.2vh;
  border: solid;
  display: inline-block;
}
