.applicationWindow {
  width: 100%;
  margin-right: 0;
  height: calc(100vh - 22px);
  // background-color: rgba(64,64,64,0.8);
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: inline-block;
}
