@import "./application.scss";
@import "./menu";
@import "./applicationBar.scss";
@import "./applicationWindow.scss";
@import "~bootstrap/scss/bootstrap";

.coreApplication {
  background-image: url(https://www.hastingsdirect.com/img/bg/clouds.png);
  color: $textColour;
  background-size: cover;
  background-color: $primaryColour;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
